.BuildControl {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.ControlName {
  margin: 0px 10px;
}

.LessButton,
.MoreButton {
  margin: 0px 10px;
}

.LessButton {
  background-color: lightsalmon;
}

.MoreButton {
  background-color: lightgreen;
}
